<div>

  <div class="ui top attached menu borderless">
    <div class="header item">Notification Settings</div>
  </div>

  <div class="ui segment bottom attached">
    <%= render 'search_form' %>
  </div>

  <div class="ui segment top attached">
    <%= link_to 'New Notification Setting', new_notification_setting_path, class: 'ui teal button' %>
  </div>

  <table class="ui bottom attached table">
    <thead>
    <tr>
        </tr>
    </thead>

    <tbody>
    <% @notification_settings.each do |notification_setting| %>
      <tr>
        <td>
          <%= link_to 'Show', notification_setting_path(notification_setting), class: 'ui blue label' %>
          <%= link_to 'Edit', edit_notification_setting_path(notification_setting), class: 'ui pink label' %>
          <%= link_to 'Destroy', notification_setting_path(notification_setting), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui red label' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @notification_settings %>
</div>


