<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="two wide">
        <p><%= NotificationSetting.human_attribute_name(:receiver_type) %></p>
        <p><%= NotificationSetting.human_attribute_name(:receiver_id) %></p>
      </th>
      <th class="one wide"><%= NotificationSetting.human_attribute_name(:showtime) %></th>
      <th class="one wide"><%= NotificationSetting.human_attribute_name(:accept_email) %></th>
      <th class="four wide"><%= NotificationSetting.human_attribute_name(:notifiable_types) %></th>
      <th class="four wide"><%= NotificationSetting.human_attribute_name(:counters) %></th>
      <th>
        <%= link_to new_admin_notification_setting_path, remote: true, class: 'ui mini button' do %>
          <%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
  <% @notification_settings.each do |notification_setting| %>
    <tr>
      <td>
        <p><%= notification_setting.receiver_type %></p>
        <p><%= notification_setting.receiver_id %></p>
      </td>
      <td><%= notification_setting.showtime %></td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag '[notification_setting]accept_email', nil, notification_setting.accept_email, data: { method: :patch, remote: true, url: admin_notification_setting_path(notification_setting), submit: true }, id: nil %>
        </div>
      </td>
      <td class="ui labels">
        <% notification_setting.notifiable_types.each do |notifiable_type| %>
          <span class="ui label"><%= notifiable_type %></span>
        <% end %>
      </td>
      <td>
        <%= simple_format(notification_setting.counters) %>
      </td>
      <td>
        <%= link_to admin_notification_setting_path(notification_setting), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_notification_setting_path(notification_setting), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_notification_setting_path(notification_setting), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @notification_settings %>
