<p>Dear <%= @notification.receiver.name %></p>

<p><%= @notification.body %></p>

<% if @notification.notifiable && @notification.verbose %>

<table class="ui very basic table">
  <tbody>
    <% @notification.notifiable_attributes.each do |key, value| %>
    <tr>
      <td class="right aligned">
        <%= @notification.notifiable.class.human_attribute_name(key) %>
      </td>
      <td>
        <% if value.is_a?(Hash) %>
          <%= simple_format_hash(value) %>
        <% elsif value.is_a?(String) && @notification.notifiable.column_for_attribute(key).limit.to_i > 255 %>
          <%= simple_format(value) %>
        <% else %>
          <%= value %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<p><%= t('the_notify.detail') %>: <%= link_to @notification.link, @notification.link %></p>