<div class="ui modal" id="modal">
  <i class="fas fa-times close icon"></i>
  <div class="ui header blue">
    <%= t('.edit') %>
  </div>

  <div class="content">
    <%= form_with model: @annunciation, url: admin_annunciation_path(@annunciation), method: :patch do |f| %>
      <%= f.select :receiver_type, options_for_select(Notification.options_i18n(:receiver_type)), include_blank: true %>
      <%= f.select :user_tag_ids, options_for_select([]), { on: { wrapper_input_id: true } }, { multiple: true } %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
