<td><%= image_tag model.cover.variant(resize_to_limit: [100, 100]) if model.cover.present? %></td>
<td><%= model.type_i18n %></td>
<td>
  <h6><%= model.title %></h6>
  <p><%= model.body %></p>
</td>
<td><%= model.link %></td>
<td>
  <p><%= link_to model.notifications_count, { controller: 'notifications', notifiable_type: model.class_name, notifiable_id: model.id } %></p>
  <p class="has-text-success"><%= model.readed_count %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
<td class="tags">
  <% model.annunciates.each do |annunciate| %>
    <div class="tag"><%= annunciate.department&.name %></div>
  <% end %>
  <%= link_to({ action: 'edit_user', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.publish') }, class: 'button is-small is-rounded is-link') do %>
    <i class="fa-light fa-bullhorn"></i>
  <% end if model.is_a?(Notice::UserAnnunciation) %>
  <%= link_to({ action: 'edit_member', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.publish') }, class: 'button is-small is-rounded is-link') do %>
    <i class="fa-light fa-bullhorn"></i>
  <% end if model.is_a?(Notice::MemberAnnunciation) %>
</td>
