<div class="ui top attached borderless menu">
  <div class="header item">Admin Annunciations</div>
  <div class="right menu">
    <div class="item">
      <%= link_to 'New Admin Annunciation', new_admin_annunciation_path, class: 'ui teal button' %>
    </div>
  </div>
</div>

<%= render 'filter' %>

<table class="ui bottom attached table">
  <thead>
    <tr>
      <th><%= Annunciation.human_attribute_name(:id) %></th>
      <th><%= Annunciation.human_attribute_name(:title) %></th>
      <th><%= Annunciation.human_attribute_name(:body) %></th>
      <th><%= Annunciation.human_attribute_name(:link) %></th>
      <th><%= Annunciation.human_attribute_name(:state) %></th>
      <th>Publish</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @annunciations.each do |annunciation| %>
    <tr>
      <td><%= annunciation.id %></td>
      <td><%= annunciation.title %></td>
      <td><%= annunciation.body %></td>
      <td><%= annunciation.link %></td>
      <td><%= annunciation.state_i18n %></td>
      <td>
        <% unless annunciation.published? %>
        <%= link_to publish_admin_annunciation_path(annunciation), method: :patch, data: { tooltip: '发布' }, class: 'ui pink mini icon button' do %>
          <i class="bullhorn icon"></i>
        <% end %>
        <% end %>
      </td>
      <td class="ui labels">
        <%= link_to admin_annunciation_path(annunciation), data: { tooltip: t('.show') }, class: 'ui blue mini icon button' do %>
          <i class="location arrow icon"></i>
        <% end %>
        <%= link_to edit_admin_annunciation_path(annunciation), data: { tooltip: t('.edit') }, class: 'ui pink mini icon button' do %>
          <i class="pencil alternate icon"></i>
        <% end %>
        <%= link_to admin_annunciation_path(annunciation), method: :delete, data: { tooltip: t('.destroy'), confirm: 'Are you sure?' }, class: 'ui red mini icon button' do %>
          <i class="times icon"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @annunciations %>
