<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= Annunciation.human_attribute_name(:cover) %></th>
      <th>
        <p><%= Annunciation.human_attribute_name(:title) %></p>
        <p><%= Annunciation.human_attribute_name(:body) %></p>
      </th>
      <th><%= Annunciation.human_attribute_name(:link) %></th>
      <th>
        <p><%= Annunciation.human_attribute_name(:notifications_count) %></p>
        <p class="green text"><%= Annunciation.human_attribute_name(:readed_count) %></p>
      </th>
      <th><%= Annunciation.human_attribute_name(:created_at) %></th>
      <th><%= Annunciate.human_attribute_name(:user_tags) %></th>
      <th>
        <%= link_to new_admin_annunciation_path, remote: true, class: 'ui mini primary button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @annunciations.each do |annunciation| %>
    <tr>
      <td><%= image_tag annunciation.cover.variant(resize_to_limit: [100, 100]) if annunciation.cover.present? %></td>
      <td>
        <h6><%= annunciation.title %></h6>
        <p><%= annunciation.body %></p>
      </td>
      <td><%= annunciation.link %></td>
      <td>
        <p><%= annunciation.notifications_count %></p>
        <p class="green text"><%= annunciation.readed_count %></p>
      </td>
      <td><time><%= annunciation.created_at.to_s(:rfc822) %></time></td>
      <td class="ui labels">
        <% annunciation.annunciates.each do |annunciate| %>
          <div class="ui label"><%= annunciate.user_tag&.name %></div>
        <% end %>
        <%= link_to publish_admin_annunciation_path(annunciation, receiver_type: params[:receiver_type]), data: { tooltip: t('.publish') }, remote: true, class: 'ui blue mini circular icon button' do %>
          <i class="fas fa-paper-plane"></i>
        <% end %>
      </td>
      <td>
        <%= link_to admin_annunciation_path(annunciation), data: { tooltip: t('.show') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_annunciation_path(annunciation), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_annunciation_path(annunciation), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @annunciations %>
