<tr>
  <td class="has-text-right"><%= Annunciation.human_attribute_name(:title) %></td>
  <td><%= @annunciation.title %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Annunciation.human_attribute_name(:body) %></td>
  <td><%= @annunciation.body %></td>
</tr>
<tr>
  <td></td>
  <td>
    <div class="tags">
      <% @annunciation.annunciates.each do |annunciate| %>
        <div class="tag">
          <%= annunciate.user_tag&.name %>
          <%= link_to admin_annunciate_path(annunciate), method: :delete, remote: true do %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to publish_admin_annunciation_path(@annunciation), aria: { label: '发布' }, remote: true, class: 'button is-small is-rounded' do %>
      <i class="fas fa-bullhorn"></i>
    <% end %>
  </td>
</tr>
