<td><%= model.identity %></td>
<td><%= model.showtime %></td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :accept_email, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
<% model.notifiable_types.each do |notifiable_type| %>
  <span class="tag"><%= notifiable_type %></span>
<% end %>
</td>
<td>
  <%= simple_format(model.counters) %>
</td>
