<td><%= model.user_id %></td>
<td><%= model.showtime %></td>
<td>
  <div class="ui toggle checkbox">
    <%= check_box_tag '[model]accept_email', nil, model.accept_email, data: { method: :patch, url: admin_model_path(model), submit: true }, id: nil %>
  </div>
</td>
<td class="tags">
  <% model.notifiable_types.each do |notifiable_type| %>
    <span class="tag"><%= notifiable_type %></span>
  <% end %>
</td>
<td>
  <%= simple_format(model.counters) %>
</td>
