<td><%= image_tag model.cover.variant(resize_to_limit: [100, 100]) if model.cover.present? %></td>
<td><%= model.type_i18n %></td>
<td>
  <h6><%= model.title %></h6>
  <p><%= model.body %></p>
</td>
<td><%= model.link %></td>
<td>
  <p><%= link_to model.member_notifications.count, { controller: 'member_notifications' } %></p>
  <p class="text-success"><%= model.readed_count %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_formatted_s(:iso8601) %></time></td>
<td>
  <% model.annunciates.each do |annunciate| %>
    <div class="tag"><%= annunciate.department&.name %></div>
  <% end if model.respond_to? :annunciates %>
  <%= button_to({ controller: 'announcement_user_tags', action: 'new', id: model.id }, aria: { label: t('.announcement_user_tags.new.title') }, class: 'button is-small is-rounded') do %>
    <i class="fa-solid fa-bullhorn text-danger"></i>
  <% end if model.is_a?(Notice::UserAnnouncement) %>
  <%= button_to({ controller: 'announcement_organs', action: 'new', announcement_id: model.id }, aria: { label: t('.announcement_organs.new.title') }, class: 'button is-small is-rounded') do %>
    <i class="fa-solid fa-bullhorn text-primary"></i>
  <% end if model.is_a?(Notice::MemberAnnouncement) %>
</td>
