<th><%= Notice::Announcement.human_attribute_name(:cover) %></th>
<th><%= Notice::Announcement.human_attribute_name(:type) %></th>
<th>
  <p><%= Notice::Announcement.human_attribute_name(:title) %></p>
  <p><%= Notice::Announcement.human_attribute_name(:body) %></p>
</th>
<th><%= Notice::Announcement.human_attribute_name(:link) %></th>
<th>
  <p><%= Notice::Announcement.human_attribute_name(:notifications_count) %></p>
  <p class="text-success"><%= Notice::Announcement.human_attribute_name(:readed_count) %></p>
</th>
<th><%= Notice::Announcement.human_attribute_name(:created_at) %></th>
<th><%= Notice::Announcement.human_attribute_name(:user_tags) %></th>
