<div class="box">
<% @notifications.each do |notification| %>
  <div class="media">
    <div class="media-content">
      <% if notification.title %>
        <div class="header">
          <%= link_to notification.title, notification.link %>
        </div>
      <% end %>
      <div class="description">
        <%= link_to notification.body, notification.link %>
      </div>
      <div class="extra">
        <time data-controller="time"><%= notification.created_at.to_s(:rfc822) %></time>
      </div>
    </div>
    <div class="media-right">
      <%= button_to({ action: 'read', id: notification.id }, class: 'button is-small is-rounded', id: "check_#{notification.id}") do %>
        <i class="fas fa-check has-text-danger"></i>Mark
      <% end unless params[:scope] == 'readed' %>
    </div>
  </div>
<% end %>
</div>

<%= paginate @notifications %>
