<th>
  <p><%= Notification.human_attribute_name(:user_id) %></p>
  <p class="has-text-gray"><%= Notification.human_attribute_name(:member_id) %></p>
</th>
<th>
  <p><%= Notification.human_attribute_name(:title) %></p>
  <p><%= Notification.human_attribute_name(:body) %></p>
  <p><%= Notification.human_attribute_name(:link) %></p>
</th>
<th>
  <p><%= Notification.human_attribute_name(:notifiable_type) %></p>
  <p><%= Notification.human_attribute_name(:notifiable_id) %></p>
</th>
<th>
  <p><%= Notification.human_attribute_name(:sender_type) %></p>
  <p><%= Notification.human_attribute_name(:sender_id) %></p>
</th>
<th>
  <p><%= Notification.human_attribute_name(:linked_type) %></p>
  <p><%= Notification.human_attribute_name(:linked_id) %></p>
</th>
<th>
  <p><%= Notification.human_attribute_name(:created_at) %></p>
  <p><%= Notification.human_attribute_name(:read_at) %></p>
</th>
<th>
  <p><%= Notification.human_attribute_name(:official) %></p>
</th>
<th></th>
