<%= render 'menu' %>

<div class="ui attached segment">
  <%= render 'search_form' %>
</div>

<table class="ui bottom attached fixed table">
  <thead>
    <tr>
      <th class="one wide"><%= Notification.human_attribute_name(:id) %></th>
      <th class="two wide">
        <p><%= Notification.human_attribute_name(:receiver_type) %></p>
        <p><%= Notification.human_attribute_name(:receiver_id) %></p>
      </th>
      <th class="four wide">
        <p><%= Notification.human_attribute_name(:title) %></p>
        <p><%= Notification.human_attribute_name(:body) %></p>
      </th>
      <th class="three wide"><%= Notification.human_attribute_name(:link) %></th>
      <th class="two wide"><%= Notification.human_attribute_name(:read_at) %></th>
      <th class="two wide"><%= Notification.human_attribute_name(:send_result) %></th>
      <th class="two wide">Operation</th>
    </tr>
  </thead>

  <tbody>
  <% @notifications.each do |notification| %>
    <tr>
      <td><%= notification.id %></td>
      <td>
        <p><%= notification.receiver_type %></p>
        <p><%= notification.receiver_id %></p>
      </td>
      <td>
        <p><%= notification.title %></p>
        <p><%= notification.body %></p>
      </td>
      <td><%= notification.link %></td>
      <td><%= notification.read_at %></td>
      <td>
        <code><%= notification.sent_result %></code>
      </td>
      <td class="ui labels">
        <%= link_to 'Push', push_admin_notification_path(notification), method: :patch, remote: true, data: { confirm: 'Are you sure?' }, class: 'ui mini green label' %>
        <%= link_to 'Email', email_admin_notification_path(notification), method: :patch, remote: true, data: { confirm: 'Are you sure?' }, class: 'ui mini green label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @notifications %>
