<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="one wide">
        <p><%= Notification.human_attribute_name(:receiver_type) %></p>
        <p><%= Notification.human_attribute_name(:receiver_id) %></p>
      </th>
      <th class="four wide">
        <p><%= Notification.human_attribute_name(:title) %></p>
        <p><%= Notification.human_attribute_name(:body) %></p>
        <p><%= Notification.human_attribute_name(:link) %></p>
      </th>
      <th class="one wide">
        <p><%= Notification.human_attribute_name(:notifiable_type) %></p>
        <p><%= Notification.human_attribute_name(:notifiable_id) %></p>
      </th>
      <th class="one wide">
        <p><%= Notification.human_attribute_name(:sender_type) %></p>
        <p><%= Notification.human_attribute_name(:sender_id) %></p>
      </th>
      <th class="one wide">
        <p><%= Notification.human_attribute_name(:linked_type) %></p>
        <p><%= Notification.human_attribute_name(:linked_id) %></p>
      </th>
      <th class="two wide">
        <p><%= Notification.human_attribute_name(:created_at) %></p>
        <p><%= Notification.human_attribute_name(:read_at) %></p>
      </th>
      <th class="one wide">
        <p><%= Notification.human_attribute_name(:official) %></p>
      </th>
      <th class="two wide"></th>
    </tr>
  </thead>

  <tbody>
  <% @notifications.each do |notification| %>
    <tr>
      <td>
        <p><%= notification.receiver_type %></p>
        <p><%= notification.receiver_id %></p>
      </td>
      <td>
        <p><%= notification.title %></p>
        <p><%= notification.body %></p>
        <p><%= notification.link %></p>
      </td>
      <td>
        <p><%= notification.notifiable_type %></p>
        <p><%= notification.notifiable_id %></p>
      </td>
      <td>
        <p><%= notification.sender_type %></p>
        <p><%= notification.sender_id %></p>
      </td>
      <td>
        <p><%= notification.linked_type %></p>
        <p><%= notification.linked_id %></p>
      </td>
      <td>
        <p><time class="grey text"><%= notification.created_at %></time></p>
        <p><time class="green text"><%= notification.read_at %></time></p>
      </td>
      <td>
        <p><%= notification.official %></p>
      </td>
      <td>
        <%= link_to edit_admin_notification_path(notification), data: { tooltip: t('.edit') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to 'Push', push_admin_notification_path(notification), method: :patch, remote: true, data: { confirm: t('.confirm') }, class: 'ui mini green label' %>
        <%= link_to 'Email', email_admin_notification_path(notification), method: :patch, remote: true, data: { confirm: t('.confirm') }, class: 'ui mini green label' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @notifications %>
