<th>
  <p><%= Notice::Notification.human_attribute_name(:receiver_id) %></p>
</th>
<th>
  <p><%= Notice::Notification.human_attribute_name(:title) %></p>
  <p><%= Notice::Notification.human_attribute_name(:body) %></p>
  <p><%= Notice::Notification.human_attribute_name(:link) %></p>
</th>
<th>
  <p><%= Notice::Notification.human_attribute_name(:notifiable_type) %></p>
  <p><%= Notice::Notification.human_attribute_name(:notifiable_id) %></p>
</th>
<th>
  <p><%= Notice::Notification.human_attribute_name(:sender_type) %></p>
  <p><%= Notice::Notification.human_attribute_name(:sender_id) %></p>
</th>
<th>
  <p><%= Notice::Notification.human_attribute_name(:linked_type) %></p>
  <p><%= Notice::Notification.human_attribute_name(:linked_id) %></p>
</th>
<th>
  <p><%= Notice::Notification.human_attribute_name(:created_at) %></p>
  <p><%= Notice::Notification.human_attribute_name(:read_at) %></p>
</th>
<th>
  <p><%= Notice::Notification.human_attribute_name(:official) %></p>
</th>
