<div>
  <dt><%= MemberAnnunciate.human_attribute_name(:state) %></dt>
  <dd><%= @member_annunciate.state %></dd>
</div>
<div>
  <dt><%= MemberAnnunciate.human_attribute_name(:annunciated_at) %></dt>
  <dd><%= @member_annunciate.annunciated_at %></dd>
</div>
<div>
  <dt><%= MemberAnnunciate.human_attribute_name(:notifications_count) %></dt>
  <dd><%= @member_annunciate.notifications_count %></dd>
</div>
