<div>
  <dt><%= Notice::Annunciation.human_attribute_name(:title) %></dt>
  <dd><%= @annunciation.title %></dd>
</div>
<div>
  <dt><%= Notice::Annunciation.human_attribute_name(:body) %></dt>
  <dd><%= @annunciation.body %></dd>
</div>
<div>
  <dt></dt>
  <dd>
    <div class="tags">
      <% @annunciation.annunciates.each do |annunciate| %>
        <div class="tag">
          <%= annunciate.user_tag&.name %>
          <%= button_to admin_annunciate_path(annunciate), method: :delete do %>
            <i class="fa-solid fa-times"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to publish_admin_annunciation_path(@annunciation), aria: { label: '发布' }, class: 'button is-small is-rounded' do %>
      <i class="fa-solid fa-bullhorn"></i>
    <% end %>
  </dd>
</div>
