<tr>
  <td class="has-text-right"><%= MemberAnnunciate.human_attribute_name(:state) %></td>
  <td><%= @member_annunciate.state %></td>
</tr>
<tr>
  <td class="has-text-right"><%= MemberAnnunciate.human_attribute_name(:annunciated_at) %></td>
  <td><%= @member_annunciate.annunciated_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= MemberAnnunciate.human_attribute_name(:notifications_count) %></td>
  <td><%= @member_annunciate.notifications_count %></td>
</tr>
