<th><%= Notice::Annunciation.human_attribute_name(:cover) %></th>
<th><%= Notice::Annunciation.human_attribute_name(:type) %></th>
<th>
  <p><%= Notice::Annunciation.human_attribute_name(:title) %></p>
  <p><%= Notice::Annunciation.human_attribute_name(:body) %></p>
</th>
<th><%= Notice::Annunciation.human_attribute_name(:link) %></th>
<th>
  <p><%= Notice::Annunciation.human_attribute_name(:notifications_count) %></p>
  <p class="has-text-success"><%= Notice::Annunciation.human_attribute_name(:readed_count) %></p>
</th>
<th><%= Notice::Annunciation.human_attribute_name(:created_at) %></th>
<th><%= Notice::Annunciation.human_attribute_name(:user_tags) %></th>
<th></th>
