<span class="menu-label"><%= t('notice.my.title') %></span>
<div class="menu-list">
  <%= link_to({ controller: 'notice/my/notifications' }, class: active_helper(notifications: 'index', active: 'is-active')) do %>
    <span><%= t('notice.my.notifications.index.unread') %></span>
    <span class="tag"><%= current_member.unread_count %></span>
  <% end %>
  <%= link_to t('notice.my.notifications.readed.title'), { controller: 'notice/my/notifications', action: 'readed' }, class: active_helper(notifications: 'readed', active: 'is-active') %>
</div>
